$primary-color: #FF0000;
h1{
  color: red;
}
.item {
  width: 100%;
}


.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
  background-color: transparent;
  a{
    margin: 0 10px;
  }
}

